@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Work+Sans:wght@300;400&display=swap');;

@import '_abstracts/_mixins';
@import '_abstracts/_variables';

@import '_base/_typography';

@import '_components/_buttons';

@import '_layout/_header';
@import '_layout/_banner';
@import '_layout/_custom';
@import '_layout/_footer';
@import '_layout/_sidebar';

@import '_pages/_account';
@import '_pages/_contact';
@import '_pages/_dashboard';
@import '_pages/_sections';

// Custom
%flex {
    display: flex;
    flex-wrap: wrap;
}
%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Social Icons
.social-links {
  @extend %flex;
  align-items: center;
  li {
    padding: 3px;
    a {
      width: 40px;
      height: 40px;
      @extend %flex-center;
      font-size: 22px;
      color: $base-color;
      border: 1px solid rgba($base-color,.6);
      border-radius: 50%;
      @extend %flex-center;
      &:hover {
        color: $white;
        background: $base-color;
        border-color: $base-color;
      }
    }
  }
}

// Slick Dots
.slick-dots {
  left: 0;
  li {
      height: auto;
      width: auto;
      &.slick-active {
            button {
                background: $base-color;
            }
        }
        button {
            width: 10px;
            height: 10px;
            border-radius: 5px !important;
            background: rgba($base-color,.2);
            &::before {
                display: none;
            }
        }
    }
}
.slick-arrow{
    position: absolute;
    cursor: pointer;
    padding: 10px 20px;
    color: $white;
    background: rgba($primary-color,.9);
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
    &:hover ,&.arrow-right {
        background: $base-color;
        color: $white;
    }
    &.arrow-left  {
        left: -60px;
        z-index: 1;
    }
    &.arrow-right  {
        right: -60px;
        z-index: 1;
    }
}
iframe {
    margin-bottom: -8px;
}


// Section Header
.section__header {
    margin-bottom: 50px;
    &.text-center {
        .section__header-title {
            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &.color-white {
        * {
            color: $white;
        }
        .section__header-title {
            &::before {
                background: $white;
            }
        }
    }
    @include breakpoint(max-xs) {
        margin-bottom: 35px;
    }
    &-title {
        padding-bottom: 15px;
        margin-bottom: 25px;
        position: relative;
        display: inline-block;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            background: $base-color;
            height: 8px;
            width: 50px;
            border-radius: 15px;
            @include breakpoint(max-lg) {
                height: 6px;
            }
        }
    }
    p {
        margin-bottom: 15px;
        font-size: 18px;
        @include breakpoint(max-xl) {
            font-size: 18px;
        }
        @include breakpoint(max-sm) {
            font-size: 16px;
        }
    }
}

.rating {
    @extend %flex;
    li {
        padding: 0 3px;
    }
}

// Preloader
.preloader {
    background: $white;
    position: fixed;
    height: 100%;
    width: 100%;
    @extend %flex-center;
    z-index: 1111;
}